.trackBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
}

.trackText {
  text-align: left;
}

.songName {
  color: white;
}

.button {
  width: 40px;
  height: 40px;
  background-color: rgba(41, 41, 41, 0.479);
  color: white;
  font-size: 2rem;
  border-radius: 5px;
  margin-right: -10px;
}
